@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

body {
  font-size: 32px;
  font-family: "Poppins";
  font-weight: 800;
  background-color: var(--Light-grey);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}

main {
  background-color: var(--White);
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px 30px 80px 30px;
  padding: 30px;
}

.form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 20px;
  text-align: left;
}

.form input {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid var(--Smokey-grey);
}

input {
  font-size: 32px;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.separator .line {
  width: 100%;
  height: 2px;
  background-color: var(--Smokey-grey);
  margin-bottom: 12px;
}
.separator img {
  background-color: var(--Purple);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0;
}

.result p {
  font-size: 5rem;
  margin-bottom: 0;
}
